
/* 
.postAd
{
    width: 150px; 
    height: 50px;
    background-color: rgb(214, 214, 85);
    padding: 3px;
    margin: 15px 15px 5px 15px;
    font-family:inherit;
    list-style-type: none;
    border-style: groove;
    font-weight: 800;
}    */

.pmtform
{
    
    
    background-color: rgba(247, 243, 243, 0.7);
    /* grid-gap: 10px 10px;  */
    margin: 25%; 
    font-family:sans-serif;
    align-content: center;
    border:solid rgba(26, 25, 25, 0.7);
    position:static
    
}

.labels
{
    font-size: 18px;
    /* margin: 31%; */
}

   
.formtext
{
    width: 50%;
    font-family: inherit;
    font-size: 18px;
    /* padding: 12px 20px; */
    /* margin: 10px 8px; */
    /* margin-left: 20%; */
    display: inline-block;
    /* text-align: left; */
    border: none;
    border-bottom: 1px solid rgb(43, 42, 42);
    border-bottom-style:solid;
    box-sizing: border-box;
    outline: none;
    background:transparent;
}

.selection
{
    width: 50%;
    font-family: inherit;
    font-size: 18px;
    padding: 12px 20px 0px 0px;
    /* margin: 10px 8px;
    margin-bottom: 30px;
    margin-left: 20%; */
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(43, 42, 42);
    box-sizing: border-box;
    outline: none;
    background:transparent;

}
#category
{

    text-align: center;
}


.submit
{
    width: 150px;
    height: 50px;
    background-color: rgb(240, 235, 231);
    padding: 3px;
    /* margin: 15px 15px 5px 110px; */
    margin-bottom: 2%;
    /* margin-left: 36%; */
    font-family:inherit;
    list-style-type: none;
    border-style: groove;
    font-weight: 800;
}

.carddate
{
    width: 120px;
    height: 30px;
    background-color: rgb(240, 235, 231);
    padding: 3px;
    /* margin: 15px 15px 5px 110px; */
    /* margin-left: 37%; */
    font-family:inherit;
    list-style-type: none;
    border-style: groove;
    font-weight: 800;
}
.adTopContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
    padding: 30px;
    background-color:rgba(250, 248, 248, 0.7);
    font-family:sans-serif;
    

}
.adTop_child_left
{
    text-align: left;
    margin-top: none;
    font-size: 30px;
    border: none;
    border-right: rgb(19, 19, 17);
    border-right-style:groove;
    max-width: 90%;
}
.welcomeAD
{
    font-size: 25px;
}
.adTop_child_right
{

    text-align: left;
    margin-top: none;
    padding-right: 30px ;
    font-size: 20px;
    text-decoration-color: chocolate;
    
}
.adimage
{

    border-style: groove;
    border-color: black;
    object-fit: cover;
}

