/* Product Page */

.history-links ul li{
    display:inline-block;
    list-style: none;
    text-align: left;
    padding: 10px 10px;
}

.history-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}

.history-links ul li a:hover{
    background-color: lightcoral;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    transition: .3s;
    transition-delay: .1s;
    color: black;
}


.product-page{
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(../images/PPbackground.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}

/* remove this entire class if needed */
.product-page-navi{
    /* background-color:royalblue; */                   /*check if we're using a solid color nav bar or a background picture */
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
}


#featured{
    margin-bottom: 40px;
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2%;
    background-color: rgba(0,0,0,0.75);
    object-fit: contain;

}

.thumbnail{
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
    background-color: white;
}

.thumbnail:hover{
    opacity: 1;
    transition:.5s;
    outline-color: none;
}

.active{
    opacity: 1 ;
}

/* Color Picker */
.colorpick{
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    font-size: .95em;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
}
.checkboxes input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.colorpick:hover input ~.checkmark{
    background-color: #ccc;
}
.colorpick input:checked~.checkmark{
    background-color: lightcoral;
}

/* Content */

#content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column{
    width: 600px;
    padding: 10px;
}

#slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}

#slider{
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x:hidden;
}

.arrow{
    width: 20px;
    height: 20px;
    opacity: .5;
    cursor: pointer;
    transition: .3s;
    padding: 2% 2%;
    margin: 0px 3px 0px 3px;
    background-color: white;
    border-radius: 50%;
}
.arrow:hover{
    opacity: .9;
    width: 25px;
    height: 25px;
}

.buttons{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    cursor: pointer;
    border-radius: 4px;
}


.buttons:hover{
    color:black;
    border-color: black;
    background-color: white;
}
.buttons:active{
    color:red;
    border-color:red;
}

#sub-details{
    font-size: larger;
    text-align: center;
}

#prodText{
    font-size: medium;
    flex-wrap: wrap;
}
